.users-table {
  &__container {
    font-family: "Montserrat", sans-serif;
  }
  &__title {
    color: #ccc;
  }
  &__sheet {
    margin: 0;
    padding: 0;
  }

  &__toolbar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    svg {
      height: 1.4em;
      width: 1.4em;
      cursor: pointer;
    }

    hr {
      height: 20px;
    }
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: #6478833b;
    color: #ccc;

    svg circle {
      stroke: #ccc;
    }
  }
}
