.users-table {
  &__container {
    font-family: "Montserrat", sans-serif;
  }
  &__title {
    color: #ccc;
  }
  &__sheet {
    padding: 1em;
  }

  &__toolbar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    svg {
      height: 1.4em;
      width: 1.4em;
      cursor: pointer;
    }

    hr {
      height: 20px;
    }
  }
}
